* { font-family: Verdana, Geneva, sans-serif; }

.center {text-align: center; }

.myButton {
   border-style: solid;
   border-color: blue;
   background-color: LightBlue;
   padding: 10px;
   margin: 20px;
   font-size: 1.1em;
} /*the formatting configuration for the submit button */

html{ position: relative;/* be the containing block */ 
      min-height: 100%; /*ensure sticky footer*/
	  width:70%; margin-left: auto; margin-right:
     auto; }
#footer {position: absolute; bottom: 20px;
         font-size: 0.8em;}
body{margin-bottom:100px; } /*space for 
the footer*/
table {
	border-style: solid;
	border-width: medium;
	border-color: grey;
} /*introducing the border for the table */
table{
margin-left: auto; margin-right: auto; }/*center the table horizontally */
td, th { 
  padding: 6px;
 } /*this is for the table cells(including the headers)*/
tr {
	background: LightCyan; }
tr:nth-child(2n+3) { background-color: MintCream; } /*set the odd rows to appear in this colour starting from the 3rd row*/
